<header>
  <img
    src="assets/img1.png"
    alt="Rodolpho Pinheiro - Foto de perfil"
    width="150px"
    height="150px"
    loading="eager"
  />
  <h1>Rodolpho Pinheiro</h1>
</header>
<aside>
  <div class="container">

      <p class="description">
        Desenvolvedor Full Stack | Web | Mobile | Flutter | React.js | Next.js |
        TypeScript | Angular | Node.js | Nest.js | PostgreSQL
      </p>
      <p class="description">Fortaleza, Ceará, Brasil</p>

    <p>
      Minha carreira é pautada em solucionar problemas. Curso Análise e
      Desenvolvimento de Sistemas na Faculdade Estácio de Sá e além disso, faço
      vários cursos livres na área de desenvolvimento de sistemas.. Sou um
      profissional organizado, com experiência em gestão de projetos, manutenção
      e suporte. Com foco Full Stack ( HTML5 | CSS3 | JavaScript | TypeScript |
      Next.js | Sql | React.js | Flutter | Angular | Node.js | Nest.js ). Com
      mais de 10 anos de experiência em empresas e área comercial.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/rodolphopinheiro/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="icone para contato via whatsapp"
          width="24px"
          height="24px"
        />
        <figcaption>
          <a href="https://wa.me/558592467098" target="_blank">
            <strong> Envie uma mensagem para: </strong>
            <p>Whatsapp (85) 992xx-xxxx</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="icone para contato via e-mail"
          width="24px"
          height="24px"
        />
        <figcaption>
          <a href="malito:rhbpinheiro30@gmail.com" target="_blank">
            <strong> Envie um mail para: </strong>
            <p>rhbpinheiro30&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
